body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

.container-fluid{
  flex: 1 !important;
}

/* Change the brand "Navbar" text color */
.navbar-brand {
    color: #000 !important; /* #000 is Black */
}

/* Change the links (Home, Features, etc.) color */
.nav-link {
    color: #000 !important; /* Change #000 to any color like #333 or red */
}

/* Optional: Change color when you hover over them */
.nav-link:hover {
    color: #666 !important; /* Turns grey when hovered */
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.footer {
  width: 100%;
  background-color: #111;
  padding: 20px 0;
  margin-top: auto;
}

.f-info {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #aaa;
  font-size: 14px;
}

/* Social Icons */
.f-info-socials {
  display: flex;
  gap: 18px;
}

.f-info-socials i {
  color: #aaa;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.f-info-socials i:hover {
  color: #00bfff;
}

/* Center text */
.f-info-brand {
  text-align: center;
  flex: 1;
}

/* Links */
.f-info-links {
  display: flex;
  gap: 16px;
}

.f-info-links a {
  color: #aaa;
  text-decoration: none;
}

.f-info-links a:hover {
  color: #fff;
}

/* Cards */
.listing-card{
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body{
  padding: 0 !important;
}

.listing-link{
  text-decoration: none !important;
  color: black !important;
}

/* Card Effect on Hover :overlay */
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.2;
  background-color: white;
}

/* New Page  */
.add-btn{
  background-color: #fe424d;
  border: none;
}

/* Edit Page  */
.edit-btn{
  background-color: #fe424d;
  border: none;
}

/* Show Page */
.show-img{
  height: 30vh;
}

.show-card{
  padding-left: 0;
  padding-right: 0;
}

/* .review-card{
  border: 1px solid black;
} */